* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background: #bf7f37;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #bf7f37;
  }
  
  .login-box {
    background: #fff;
    padding: 40px;
    width: 350px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
  }
  
  .subheading {
    margin: 10px 0 30px;
    color: #777;
    font-size: 14px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .btn {
    padding: 12px;
    background: #ce740e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .btn:hover {
    background: #ce6f02;
  }
  
  .signup-link {
    margin-top: 15px;
    color: #666;
    font-size: 14px;
  }
  
  .signup-link a {
    color: #ce740e;
    text-decoration: none;
  }
  .signup-link a:hover {
    text-decoration: underline;
  }
  